/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --page-width: 1150px;
  --color1: rgb(233, 63, 119);
  --color2: #212022;
  --shadow: 0 5px 10px 0 #111;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button { cursor: pointer; }

body {
  background-color: #302e30;
  color: #fff;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }

a { color: white; text-decoration: none;}
a:hover { color: var(--color1); }

input { 
  color: white;   
}

/* Naviagtion & Header */
.brand-text:hover { color: white; }
.brand-text > span:hover { text-decoration: underline; }

.brand1, .brand2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  font-family:Inter,-apple-system,Segoe UI,Roboto,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-shadow: 0 5px 10px black;
}

.brand2 { color: var(--color1);}

.header-span-page {
  display: flex;
  justify-content: center;
  background-color: var(--color2);
  border-bottom: 1px solid #555;
}

.header-wrap {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--page-width);
}

/* Main Page Content */
.main-content {
  display: grid;
}

.content-wrap {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem;
}

.recipe-full {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.recipe-left-half {
  display: grid;
  gap: 10px;
}

.recipe-right-half {
  display: grid;
}

.ingredients-list {
  padding: 1rem;
  background-color: white;
  list-style-position: inside;
}

.instructions-list {
  padding: 1rem;
  background-color: white;
  list-style-position: inside;
}

.heading-small {
  font-size: 1.2rem;
}

/* Login section */
.login-form {
  display: grid;
  gap: 1rem;
  padding: 3rem;
  background: var(--color2);
  width: 400px;
  box-shadow: var(--shadow);
}

.login-form input { 
  padding: .6rem; 
  color: var(--color2);
}
.login-form button {
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  text-decoration: none;
  background: var(--color2);
  color: white;
}
.login-form button:hover { background: var(--color1); }

.auth-btn, .generate-btn {
  display: flex;
  align-items: center;
  padding: .5rem .8rem;
  border: 1px solid #555;
  border-radius: 5px;
  text-decoration: none;
  background: var(--color2);
  color: white;
}

.auth-btn:hover, .generate-btn:hover {
  background-color: var(--color1);
  color: white;
}

.auth-btn .login {

}

.auth-btn.logout {
  margin: 0 auto;
}

/* Search bar & results */
.searchbar {
  display: flex;
  box-shadow: inset var(--shadow);
  border: 1px solid #555;
  width: 100%;
  border-radius: 10px; 
}

.search-btn {
  background: none;
  padding: .7rem;
}
.search-btn { color: white; }
.search-btn:hover > svg { color: var(--color1); }

.search-label {
  display: none;
}

.search-input {
  padding: .5rem;
  width: 100%;
  background: none;
}

.results-list {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.result-link:hover { 
  border: 3px solid var(--color1); 
  color: white;
}

.result-link {
  display: grid;
  justify-items: center;
  gap: 1rem;
  background: var(--color2);
  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 3px solid #555;
  text-align: center;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result-text {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.recipe-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}


/* AI transcribe page styles */
.url-wrap {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
  background: var(--color2);
}

.url-wrap input {
  padding: 10px;
  width: 100%;
  border: 1px solid #555;
  background-color: var(--color2);
  box-shadow: var(--shadow);
  border-radius: 10px; 
}

.streamed-content {
  display: grid;
  gap: 1rem;
  padding-block: 2rem;
}

.streamed-content ol, .streamed-content ul {
  list-style-position: inside;
}