/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --page-width: 1200px;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button { cursor: pointer; }

body {
  background-color: #efefef;
  color: #111;
}

h1 {
  font-size: 2.4rem;
}

/* Naviagtion & Header */
.header-span-page {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 10px #ccc;
}

.header-wrap {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto minmax(200px, 400px) auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: space-between;
  align-items: center;
  max-width: var(--page-width);
}

.navbar {
  grid-row: 2;
  grid-column: span 3;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

/* Main Page Content */
.main-content {
  display: grid;
  justify-content: center;
}

.auth-btn {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  height: 40px;
  color: #111;
  border: 1px solid #111;
  border-radius: 5px;
  text-decoration: none;
}

.auth-btn:hover {
  background-color: #111;
  color: white;
}

.auth-btn .login {

}

.auth-btn.logout {
  margin: 0 auto;
}

.searchbar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.search-btn {
  background: none;
  padding: 10px;
}

.search-btn:hover > svg {
  color: rgb(204, 50, 50);
}

.search-label {
  display: none;
}

.search-input {
  padding: .5rem;
  width: 100%;
  background: none;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recipe-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}