/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --page-width: 1150px;
  --color1: #e93f77;
  --color2: #212022;
  --color3: #1a181a;
  --shadow: 0 5px 10px 0 #000;
  --border: 1px solid #444;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button { cursor: pointer; }

body {
  background-color: var(--color2);
  color: #fff;
  /* Background from: https://bgjar.com/icon-grid */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='800' height='800' preserveAspectRatio='none' viewBox='0 0 800 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1768%26quot%3b)' fill='none'%3e%3crect width='800' height='800' x='0' y='0' fill='rgba(37%2c 36%2c 37%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1770' transform='translate(100%2c 200) scale(2)' fill='rgba(59%2c 56%2c 59%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1770' transform='translate(500%2c 600) scale(2.5)' fill='rgba(59%2c 56%2c 59%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1770' transform='translate(700%2c 300) scale(1.8)' fill='rgba(59%2c 56%2c 59%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1768'%3e%3crect width='800' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1769'%3e%3cpath d='M15.964 4.774l-1.312 10.327H10.223L8.916 4.774h5.408L15.395 1.04 16 1.21l-1.024 3.562 0.988 0.002zM8.29 10.788s0.166-1.502-2.131-1.502H2.5c-2.293 0-2.131 1.502-2.132 1.502h7.922zM0.368 13.595s-0.162 1.506 2.132 1.506h3.659c2.297 0 2.131-1.506 2.131-1.506H0.369z m7.578-0.727a0.68 0.68 0 0 0 0.68-0.68c0-0.372-0.304-0.676-0.68-0.676H0.68C0.306 11.512 0 11.816 0 12.188a0.682 0.682 0 0 0 0.68 0.68h7.266z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1770'%3e%3cuse xlink:href='%23SvgjsG1769' fill='rgba(59%2c 56%2c 59%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; color: white;}

a { color: white; text-decoration: none;}
a:hover { color: var(--color1); }

input { 
  color: white;   
}

/* Naviagtion & Header */
.brand-text {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  font-family:Inter,-apple-system,Segoe UI,Roboto,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: white;
  transition: 150ms ease-in-out;
}
.brand2 { color: var(--color1); }
.brand-text:hover { color: var(--color1) }

.header-span-page {
  display: flex;
  justify-content: center;
  background-color: var(--color3);
  border-bottom: var(--border);
}

.header-wrap {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--page-width);
}

.navbar {
  display: flex;
  gap: 1rem;
}

/* Main Page Content */
.main-content {
  display: grid;
}

.content-wrap {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem;
}

.recipe-full {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.recipe-left-half {
  display: grid;
  gap: 10px;
}

.save-btn {
  background: unset;
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
  height: 20px;
  color: white;
  transition: all 150ms ease-in-out;
}
.save-btn svg {  transition: all 150ms ease-in-out; }
.save-btn:hover > svg {
  width: 20px;
  height: 20px;
  color: var(--color1);
}
.save-btn:hover {
  color: var(--color1);
}

.recipe-like {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.stars {
  display: flex;
  gap: 3px;
  align-items: center;
}

.rating-modal {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--color2);
  border: var(--border);
  padding: 1rem;
  margin-block: 1rem;
  width: fit-content;
}

.cooking-time {
  display: flex;
  align-items: center;
  gap: .7rem;
}

.recipe-right-half {
  display: grid;
}

.instructions-list, .ingredients-list  {
  display: grid;
  gap: .3rem;
  padding: 1.4rem;
  background-color: var(--color2);
  border: var(--border);
  box-shadow: var(--shadow);
  list-style-position: inside;
}

.categories-list { 
  display: flex;
  gap: 1rem;
  list-style: inside;
}

.heading-small {
  font-size: 1.3rem;
  padding-block: .5rem;
}

.helper {
  padding: 2rem;
  border: var(--border);
  background: var(--color2);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
}

/* Login section */
.login-form {
  display: grid;
  gap: 1rem;
  padding: 3rem;
  background: var(--color2);
  width: 400px;
  box-shadow: var(--shadow);
}

.login-form input { 
  padding: .6rem; 
  color: var(--color2);
}
.login-form button {
  padding: 1rem;
  border: var(--border);
  border-radius: 5px;
  text-decoration: none;
  background: var(--color2);
  color: white;
}
.login-form button:hover { background: var(--color1); }

.btn {
  display: flex;
  align-items: center;
  padding: .5rem .8rem;
  border: var(--border);
  border-radius: 5px;
  text-decoration: none;
  background: var(--color2);
  color: white;
}

.btn:hover {
  background-color: var(--color1);
  color: white;
}

.back-btn {
  width: fit-content;
}

/* Search bar & results */
.searchbar {
  display: flex;
  box-shadow: inset var(--shadow);
  border: var(--border);
  width: 100%;
  border-radius: 10px; 
}

.search-btn {
  background: none;
  padding: .7rem;
}
.search-btn { color: white; }
.search-btn:hover > svg { color: var(--color1); }

.search-label {
  display: none;
}

.search-input {
  padding: .5rem;
  width: 100%;
  background: none;
}

.results-list {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.result-link:hover { 
  border: 3px solid var(--color1); 
  color: white;
}

.result-link {
  display: grid;
  align-content: baseline;
  gap: 1rem;
  background: var(--color2);
  border-radius: 5px;
  box-shadow: var(--shadow);
  border: 3px solid #555;
  text-align: center;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result-text {
  display: grid;
  justify-items: center;
  gap: .6rem;
  padding: 0 1rem 1rem 1rem;
  color: #ccc;
}

.recipe-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

/* AI transcribe page styles */
.url-wrap {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 5px;
  background: var(--color2);
  border: var(--border);
  box-shadow: var(--shadow);
}

.url-wrap input {
  padding: 10px;
  width: 100%;
  border: var(--border);
  background-color: var(--color2);
  box-shadow: inset var(--shadow);
  border-radius: 10px; 
}

.streamed-content {
  display: grid;
  gap: 1rem;
  padding-block: 2rem;
}

.streamed-content ol, .streamed-content ul {
  list-style-position: inside;
}

.pagination-wrap {
  margin: 0 auto;
}

.pagination {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
}

.pagination * svg {
  height: 15px;
}

.pagination * .btn {
  gap: 1rem;
}

.error-msg {
  position: absolute;
  top: 135px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  background: #df3939;
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 1rem;
  transition: all 200ms ease-in-out;
}

.filter-dropdown {
  padding: .6rem;
  margin-left: 1rem;
  background: var(--color2);
  border: var(--border);
  color: white;
}